<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NFL Games</title>

    <link rel="stylesheet" href="styles.css">
  </head>
    <% @leaderboards.each_with_index do |game,i| %>
      <div>
        <p> <%= "Position: #{i + 1} | Team: #{game[:name]} | Points Scored: #{game[:total_scored]} | Points Suffered: #{game[:total_suffered]} | Won: #{game[:wins]} | Lost: #{game[:losses]} | Overall Score: #{game[:victory_balance]}" %></p>

      </div>

    <%end%>

</html>
